.mainContainer{
    display: flex;
}
.content{
    width: calc(100% - 20vw);
}
.close_content{
    .content{
        width: calc(100% - 5vw);
    }
}
.ul{ 
    margin-top: 80px;
  
        a{
            text-decoration: none !important;
            text-align: center;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                border: 1px solid grey;
                padding: 15px 0px;
                margin: 10px 0px;
                color: black;
                border-radius: 5px;
            }
        }
}

.close{
    width: 5vw;
    height: 100vh;
    padding: 0px 10px;
    transition: all 0.5s;
    border: 1px solid rgb(141, 139, 139);

}
.bar_icon{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: -12px;
    
}
.nav_icon{
    width: 30px !important;
    height: 30px !important;
}
.bar_container{
    position: relative;

}
.sidebar{
    width: 20vw;
    border: 1px solid rgb(141, 139, 139);
    height: 100vh;
    padding: 0px 10px;
    transition: all 0.5s;
}